<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Dear, <%= @receiver %></h1>
    <p>
      <%= @message %>
    </p>
    <p>
      Visit: <%= @url %>
    </p>
    <p>Thanks for reading and have a great day!</p>
  </body>
</html>
