

<div class="container" style="text-align:left">
  <h1>Editing Tv Show</h1>
  <br>
  <%= link_to "", tv_show_path(@tv_show), class: "btn btn-danger fa fa-arrow-left fa-lg" %>
</div>

<%= render 'form', tv_show: @tv_show %>
